boto==2.49.0             
boto3==1.9.246   
gensim==3.8.3              
gpustat==0.6.0              
h5py==2.10.0             
networkx==2.4
numpy==1.16.5
pandas==1.0.3              
Pillow==7.1.2              
requests==2.23.0             
scipy==1.4.1              
six==1.14.0             
tqdm==4.46.0     
dgl==0.4.3post2
nltk==3.5
transformers==3.1.0
openpyxl==3.0.5
tensorboard==1.14.0             
tensorboardX==2.0
tensorflow-gpu==1.14.0             
torch==1.3.0
torchvision==0.3.0
sentencepiece==0.1.91